.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.total{
  background-image: url(../public/img/glassesImage/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
  
}
#header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0,0.4);
}
.vglasses__model{
  background-image:url(../public/img/glassesImage/model.jpg);
  background-position: center top;
  background-size: cover;
  height: 500px;
}

.model img{
  width: 80%;
  height: 80%;
}
.glassesList{
  background: white;
}
.imgGlasses{
  width: 100%;
  height: 100%;
}
.vglasses__model{
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__info{
  position: absolute;
  bottom:0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  padding: 20px;
}
.vglasses__model img{
  position: absolute;
  top: 32%;
  left: 25%;
  width: 238px;
  height: 85px;
  opacity: 0.9;
}



